
#nav {
	position:absolute;
	height: 43px;
	width: 1000px;
	background: #FFC600;
	margin-top:13px;
	border-radius: 1px;
}
#nav ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
#nav li {
	float: left;
	font-family: Arial;
	font-weight: bold;
	font-size: 12px;
	text-align: center;
}


.a1 {
	display: block;
	width: 60px;
	line-height: 36px;
	height: 43px;
	font-size: 14px;
	color:  black;	
	text-decoration: none;
	border-top: 3px solid #D03C3C;
	margin-top:-1px;
  	background: #f8f8f8;
}
.a1:hover {
	color:  white;
        background-color: #D03C3C;
}
.a2 {
	display: block;
	width: 56px;
	height: 43px;
	font-size:14px;
	line-height: 36px;
	color:  black;	
	text-decoration: none;
	border-top: 3px solid #737373;
	margin-top:-1px;
	background:#f8f8f8;
}
.a2:hover {
	color:  white;
        background: #737373;
}
.a4 {
	display: block;
	width: 56px;
	height: 43px;
	font-size:14px;
	line-height: 36px;
	color:  black;	
	text-decoration: none;
	border-top: 3px solid #A5443F;
	margin-top:-1px;
	background:#f8f8f8;
}
.a4:hover {
	color:  white;
        background: #A5443F;
}
.a5 {
	display: block;
	width: 56px;
	height: 43px;
	font-size:14px;
	line-height: 36px;
	color:  black;	
	text-decoration: none;
	border-top: 3px solid #1BBC9D;
	margin-top:-1px;
	background:#f8f8f8;
}
.a5:hover {
	color:  white;
        background: #1BBC9D;
}
.a6 {
	display: block;
	width: 56px;
	height: 43px;
	font-size:14px;
	line-height: 36px;
	color:  black;	
	text-decoration: none;
	border-top: 3px solid #E77E23;
	margin-top:-1px;
	background:#f8f8f8;
}
.a6:hover {
	color:  white;
        background: #E77E23;
}
.a7 {
	display: block;
	width: 56px;
	height: 43px;
	font-size:14px;
	line-height: 36px;
	color:  black;	
	text-decoration: none;
	border-top: 3px solid #FB3C91;
	margin-top:-1px;
	background:#f8f8f8;
}
.a7:hover {
	color:  white;
        background: #FB3C91;
}
.a8 {
	display: block;
	width: 56px;
	height: 43px;
	font-size:14px;
	line-height: 36px;
	color:  black;	
	text-decoration: none;
	border-top: 3px solid #8BC151;
	margin-top:-1px;
	background:#f8f8f8;
}
.a8:hover {
	color:  white;
        background: #8BC151;
}
.a9 {
	display: block;
	width: 56px;
	height: 43px;
	font-size:14px;
	line-height: 36px;
	color:  black;	
	text-decoration: none;
	border-top: 3px solid #9C59B8;
	margin-top:-1px;
	background:#f8f8f8;
}
.a9:hover {
	color:  white;
        background: #9C59B8;
}
.a10 {
	display: block;
	width: 56px;
	height: 43px;
	font-size:14px;
	line-height: 36px;
	color:  black;	
	text-decoration: none;
	border-top: 3px solid #3598DC;
	margin-top:-1px;
	background:#f8f8f8;
}
.a10:hover {
	color:  white;
        background: #3598DC;
}
.a11 {
	display: block;
	width: 56px;
	height: 43px;
	font-size:14px;
	line-height: 36px;
	color:  black;	
	text-decoration: none;
	border-top: 3px solid #8F9E15;
	margin-top:-1px;
	background:#f8f8f8;
}
.a11:hover {
	color:  white;
        background: #8F9E15;
}
.a12 {
	display: block;
	width: 56px;
	height: 43px;
	font-size:14px;
	line-height: 36px;
	color:  black;	
	text-decoration: none;
	border-top: 3px solid #F96DCD;
	margin-top:-1px;
	background:#f8f8f8;
}
.a12:hover {
	color:  white;
        background: #F96DCD;
}
.a13 {
	display: block;
	width: 56px;
	height: 43px;
	font-size:14px;
	line-height: 36px;
	color:  black;	
	text-decoration: none;
	border-top: 3px solid #DBBA00;
	margin-top:-1px;
	background:#f8f8f8;
}
.a13:hover {
	color:  white;
        background: #DBBA00;
}
.a14 {
	display: block;
	width: 56px;
	height: 43px;
	font-size:14px;
	line-height: 36px;
	color:  black;	
	text-decoration: none;
	border-top: 3px solid #0614D0;
	margin-top:-1px;
	background:#f8f8f8;
}
.a14:hover {
	color:  white;
        background: #0614D0;
}
.a15 {
	display: block;
	width: 125px;
	height: 43px;
	font-size:14px;
	line-height: 36px;
	color:   white;	
	text-decoration: none;
	border-top: 3px solid #f8f8f8;
	margin-top:-1px;
	background:#f8f8f8;
}
.a15:hover {
	color:  white;
        background:  #f8f8f8;
}
.a16 {
	display: block;
	width: 87px;
	height: 43px;
	font-size:14px;
	line-height: 36px;
	color:   black;	
	text-decoration: none;
	border-top: 3px solid #D03C3C;
	margin-top:-1px;
	background:#f8f8f8;
}
.a16:hover {
	color:  white;
        background: #D03C3C;
}
#nav li ul {
  line-height: 24px; 
  list-style-type: none;
  text-align: left;
  left: -9999px;
  width: 56px; //注意,这里一定要设置宽度;
  position: relative;
  background: #CCC;
}
#nav li ul li {
  width: 112px; //float就是子菜单横向的关键,可以继承父菜单而省略float
}


#nav li ul a {
  width: 112px;
  text-align: left;
  padding-left: 10px;
}

#nav li ul a:link  {
  color:#F8f8f8;
  text-decoration:none;
}
#nav li ul a:visited  {
  color: black;
  text-decoration:none;
  font-size:14px;
}
#nav li ul a:hover {
  color: #FFF;
  text-decoration: none;
  font-weight: normal;
}

#nav li:hover ul {
  left:0%;
}

#nav li.sfhover ul {
  left: 0%;
}

.con{
  height: 28px;
  width: 112px;
  overflow: hidden;
  position: relative;
  background: #D03C3C; 
}
.nav_u{
  height: 28px;
  width:112px;
  font: 15px/16px "宋体";
  text-align: center;
  font-weight:bold;
  color: #333;
  position: relative;
  padding-top: 8px;
}
.nav_d{
  height:30px;
  font:12px/12px "宋体";
  color:#333;
  position:relative;
}
.pos{
  position:relative;
  left:0px;
}
.con a{
  text-decoration:none;
  display: block;
  color: black;
} 
.nav_ub{
  width: 112px;
  height: 30px;
  position: absolute;
  top: 0px;
  background: #f8f8f8;
}
.nav_db{
  width:112px;
  height:14px;
  position:absolute;
  bottom:0px;
  background:#f8f8f8;
}
